<!DOCTYPE html>
<html>
  <head>
    <meta name="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/base.css" type="text/css" media="screen" />
    <script type="text/javascript" src="{{ STATIC_URL }}/script/manager.js"></script>
    <title>Blood Bowl Manager</title>
  </head>
  <body>
  <body onload="main();">
    <div id="manager"></div>
  </body>
</html>
